body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Lobster";
  src: local("Lobster-Regular"),
    url("./font/Lobster-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gelasio";
  src: local("Gelasio-Regular"),
    url("./font/Gelasio-Regular.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  background-color: #de3823;
  color: #232121;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Gelasio';
  width: 150px;
  height: 70px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: #de3019;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  width: 150px;
  height: 70px;
  border-radius: 10px;
}



/*
Main Design Colors 
Red: #8c1627
Yellow: #bfbe5f
Black: #0e0904
  color: #0e1212
  color: #1FE022;
  color: #221FE0; */