.history h2{
    transition: all 0.5s ease-in-out;
}
.verticalTimelineContainer{
    margin-top: 20px;
    background: rgba(18,18,18,0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(18,18,18,0.4);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
.vertical-timeline::before {
    background: var(--red-neon);
    box-shadow: 0px 0px 4px #8c162891;
}
.vertical-timeline-element-icon{
    box-shadow: 0 0 0 4px var(--yellow-dull), inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}
.vertical-timeline-element-content{
    background: -webkit-linear-gradient(-183deg, #010000 0%, #2d080d 50%);
    background: linear-gradient(-183deg, #010000 0%, #2d080d 50%);
    color: var(--yellow-main);
    text-shadow: 0px 0px 3px #bfbd5f8f;
    font-family: Gelasio;
    box-shadow: none;
    border: 1px solid #260409;
    border-top: 3px solid var(--yellow-neon);
}
.xpIcon{
    display: flex;
    justify-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--bg);
    border-radius: 50%;
}
.xpIconIMG{
    width: 60%;
    height: 60%;
    object-fit: contain;
    margin: auto;
}
.vertical-timeline-element-content-arrow{
    border-right: 7px solid var(--yellow-neon);
}
.xpCardTitle{
    color: var(--yellow-neon);
    font-size: 1.6rem !important;
}
.xpCardName{
    margin: 1em 20px 0 !important;
    font-weight: 900 !important;
    font-size: 1.3rem !important;
}
.vertical-timeline-element-date{
    margin: auto 20px;
}
.xpListContainer{
    margin-top: 10px;
    
}
.XPListElem{
    margin: 10px 10px 0;
}