#motionDiv-current{
    z-index: 2;
}
#currentBG{
    margin-top: 100px;
    background: rgba(18,18,18,0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(18,18,18,0.4);
    display: grid;
    height: 550px;
    justify-content: center;
    margin-bottom: 50px;
    transition: all 0.5s ease-in-out;
}
#currentDiv{
    position: relative;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    margin-top: 50px;
    padding: 0px 50px;
}
#currentDiv *{
    transition: all 0.5s ease-in-out;
}
#currentDiv .sectionTitle{
    margin-bottom: 50px;
    justify-self: center;
    display: grid;
    position: relative;
}
#currentDiv .columns{
    display: grid;
}
#currentDiv .currentStudies{
    width: 500px;
    left: 0%;
    position: relative;
    margin-left: 0px;
}
#currentDiv p{
    font-size: 2rem;
    font-family: Gelasio;
    color: var(--red-main);
    text-shadow: 0px 0px 4px #8c16278c;
}
#currentDiv p span{
    color: var(--yellow-neon);
    text-shadow: 0px 0px 4px #bfbd5f76;
}
#currentDiv .avocadoToastContainer{
    position: absolute;
    height: 800px;
    width: 900px;
    margin-top: -300px;
    left: 420px;
    z-index: -1;
}
#currentDiv .avocadoToastContainer:active .rotateHintContainer{
    opacity: 0;
}

/* Responsiveness */
@media screen and (max-width: 1280px){
    #currentBG{
        height: 600px;
    }
    #currentDiv .avocadoToastContainer{
        left: 20%;
        margin-top: 0px;
    }
}

@media screen and (max-width: 1020px){
    #currentBG{
        height: 600px;
    }
    #currentDiv .sectionTitle{
        font-size: 4rem;
        font-family: Lobster;
        margin-bottom: 50px;
        color: var(--yellow-neon);
        text-shadow: 0px 0px 8px #bfbd5f76;
    }
    #currentDiv .avocadoToastContainer{
        margin-top: 50px;
        margin-left: -450px;
        left: 50%;
    }
}
    
@media screen and (max-width: 656px){
    #currentBG{
        height: 800px;
    }
    #currentDiv .currentStudies{
        width: 100%;
    }
    #currentDiv .avocadoToastContainer{
        margin-top: 50px;
        margin-left: -450px;
        left: 50%;
    }
}

@media screen and (max-width: 700px){
    #currentBG{
        height: 700px;
    }
    #currentDiv .avocadoToastContainer{
        margin-top: 100px;
        margin-left: -450px;
        left: 50%;
    }
}

@media screen and (max-width: 600px){
    #currentBG{
        height: 650px;
    }
}