#shapesContainer {
    /* overflow: hidden; */
    height: 150%;
    width: 100%;
    position: absolute;
    left: -30px;
}
.bgShape {
    position: absolute;
    -webkit-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 0.95);
    -moz-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 0.95);
    -o-transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 0.95);
    transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 0.95);
}
.sm {
    font-size: 1rem;
}
.md {
    font-size: 2rem;
}
.lg {
    font-size: 3rem;
}
.reds {
    color: #EE0000;
}
.yellows {
    color: #EEee00;
}
.greens {
    color: #00EE00;
}
.blues {
    color: #3366EE;
}
.pinks {
    color: #FFAAAA;
}
.x0 {
    left: -3%;
}
.x1 {
    left: 10%;
}
.x2 {
    left: 25%;
}
.x3 {
    left: 50%;
}
.x4 {
    left: 80%;
}
.x5 {
    left: 97%;
}
.x6 {
    left: 103%;
}
.y1 {
    top: 10%;
}
.y2 {
    top: 25%;
}
.y3 {
    top: 50%;
}
.y4 {
    top: 80%;
}
.y5 {
    top: 97%;
}
.y6 {
    top: 103%;
}