#contact{
    margin-bottom: 100px;
    display: block;
}
#motionDiv-contact .sectionTitle{
    display: flex;
    justify-content: center;
}
.contactContainer{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 30px; 
    /* overflow: hidden; */
}
.contactFormContainer{
    background: linear-gradient(185deg, #010000af, #2a0a10af);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid var(--red-neon);    
    box-shadow: 0px 0px 15px #cc112d75;
    padding: 40px;
    border-radius: 15px;
    /* flex: 0.75; */
    transition: margin 0.5s ease-in-out;
    width: 80%;
    margin: 0 auto;
}
.contactFormContainer h3{
    font-size: 4rem;
    font-family: Lobster;
    color: var(--yellow-neon);
    text-shadow: 0px 0px 8px #bfbd5f76;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.contactForm{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.formLabel{
    display: flex;
    flex-direction: column;
}
.formLabelText{
    font-family: Lobster;
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--red-main);
}
.formInput{
    padding: 15px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--dark-accent);
    color: var(--yellow-neon)
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #bfbd5fa6;
}

.earthContainer{
    flex: 1;
    height: auto;
    width: 630px;
    display: grid;
    justify-content: center;
    justify-self: center;
}
 .earthContainer:active .rotateHintContainer{
    opacity: 0;
}


/* Responsiveness */
@media screen and (max-width: 1280px){
    .contactContainer{
        flex-direction: column-reverse;
        margin-top: -50px;
        flex: 1;
    }
    /* .contactFormContainer{
        margin: 0 50px;
    } */
    .earthContainer{
        min-height: 450px;
        width: 100%;
        flex: none;
    }
}
@media screen and (max-width: 700px){
    .earthContainer{
        justify-content: center;
    }
    /* .contactFormContainer{
        margin: 0px;
    } */
}
@media screen and (max-width: 500px){
    .earthContainer{
        min-height: 425px;
    }
    #earthCanvas{
        height: 350px !important;
        width: 350px !important;
    }
}