#welcome {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#welcome *{
  transition: all 0.5s ease-in-out;
}
.heroContainer {
    display: flex;
    justify-content: center;
    width: 1350px;
    padding: 50px;
    z-index: 1;
}
.welcomeMessage::before{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 1202px;
  margin-top: -14.5px;
  margin-left: -34.5px;
  border-radius: 5px;

  /* ff 3.6+ */
  background:-moz-linear-gradient(180deg, var(--yellow-neon) 0%, #7B1D2B00 15%, #7B1D2B00 85%, var(--red-neon) 100%); 
  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(180deg, var(--yellow-neon) 0%, #7B1D2B00 15%, #7B1D2B00 85%, var(--red-neon) 100%);
  /* opera 11.10+ */
  background:-o-linear-gradient(180deg, var(--yellow-neon) 0%, #7B1D2B00 15%, #7B1D2B00 85%, var(--red-neon) 100%);
  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--red-neon)', endColorstr='var(--yellow-neon)', GradientType=1 );
  /* ie 10+ */
  background:-ms-linear-gradient(180deg, var(--yellow-neon) 0%, #7B1D2B00 15%, #7B1D2B00 85%, var(--red-neon) 100%);
  /* global 94%+ browsers support */
  background:linear-gradient(180deg, var(--yellow-neon) 0%, #7B1D2B00 15%, #7B1D2B00 85%, var(--red-neon) 100%);
  transition: all 0.5s ease-in-out;
}
.welcomeMessage.pos1::before{
  height: 860px;
}
.welcomeMessage.pos2::before{
  height: 1010px;
}
.welcomeMessage{
  display: grid;
    width: 1132px;
    background: linear-gradient(185deg, #010000, #160508);
    border-radius: 5px;
    padding: 10px 30px;
    transition: all 0.5s ease-in-out;
    margin-bottom: 0px;
}
.welcomeMessage.pos1{
    height: 830px;
}
.welcomeMessage.pos2{
    height: 980px;
}
.welcomeMessage::after{
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 1192px;
  margin-top: -10px;
  margin-left: -30px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px #bfbd5f5c;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.welcomeMessage.pos1::after{
  height: 850px;
}
.welcomeMessage.pos2::after{
  height: 1000px;
}
.welcomeContent{
  top: 30px;
  position: relative;
}

.welcomeLeft{
    position: relative;
    left: -110px;
}

.welcomeImgBG{
    position: absolute;
    margin-top: -1%;
    width: 550px;
    height: 680px;
    border-radius: 56px;
    overflow: hidden;
   }
   .A{
    background-color: #360A11;
    left: 15px;
    top: -20px;
   }
   .B{
    background-color: #6D1421;
    left: 35px;
    top: -35px;
   }
   .C{
    background-color: var(--red-dull);
    left: 30px;
    top: -35px;
    background-image: url(https://www.transparenttextures.com/patterns/climpek.png);
   }

   .welcomeImg{
    width: 500px;
    height: 667px;
    position: absolute;
    bottom: 0px;
}

.welcomeRight{
    position: absolute;
    margin-left: 350px;
}
.text {
    mix-blend-mode: difference;
    color: var(--yellow-main);
}

.welcomeRight h1 {
    font-size: 3.1rem;
    margin-left: 150px;
    margin-top: 30px;
}
.welcomeRight .JulianBristol {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: -200px;
    font-size: 8rem;
    font-weight: 100;
    font-family: Lobster;
    width: 730px;
    text-shadow: 0px 0px 8px #bfbd5f76
}
.spacer2{
  display: none;
}
#welcome .paragraphContainer{
  width: 800px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
#welcome .julian_description{
  display: grid;
  grid-template-columns: 50% 50%;	
  width: 1500px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
#welcome .julian_description.desc1{
  left: -80px;
  height: 290px;
}
#welcome .julian_description.desc2{
  left: -820px;
  height: 565px;
}
.welcomeRight .emph1 {
    font-size: 10rem;
    line-height: 0px;
    font-family: Lobster;
}
.welcomeRight p {
    margin: 0px auto 35px 140px;
    width: 640px;
    font-size: 2.5rem;
    transition: all 0.5s ease-in-out;
}
.welcomeRight .jobTitle {
  color: var(--yellow-neon);
  text-shadow: 0px 0px 4px #bfbe5fbf;
  transition: none !important;
}
#welcome .julian_description .secondaryDesc p{
  font-size: 1.53rem;	
}
#welcome .toggleTextBtn:hover{
  color: var(--yellow-main);
  font-size: 5.1rem;
}
#welcome .toggleTextBtn{
  background-color: transparent;
  border: 0px solid transparent;
  top: 0px;
  position: relative;
  color: var(--yellow-neon);
  font-family: Lobster;
  font-size: 5rem;
  -webkit-animation: glowing 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  -moz-animation: glowing 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  -ms-animation: glowing 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  -o-animation: glowing 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite; 
  animation: glowing 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  transition: all 0.5s ease-in-out;
}
#welcome .toggleTextBtn.textLeft{
  left: 550px;
  top: 0px;
  -webkit-animation: bouncing 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  -moz-animation: bouncing 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  -ms-animation: bouncing 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  -o-animation: bouncing 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite; 
  animation: bouncing 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}
#welcome .toggleTextBtn.textRight{
  left: -250px;
  top: -150px;
}
#welcome .btnLinks{
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 580px;
  margin-left: 550px;
  left: 0;
  bottom: 25px;
  align-self: end;
  transition: all 0.5s ease-in-out;
}
@-webkit-keyframes glowing {
  0% {
    text-shadow: 0px 0px 2px #bfbe5fab;
    }
    50% {
      text-shadow: 0px 0px 8px #bfbe5fab;
    }
    100% {
      text-shadow: 0px 0px 2px #bfbe5fab;
    }
  }
  @keyframes glowing {
    0% {
      text-shadow: 0px 0px 2px #bfbe5fab;
      }
      50% {
        text-shadow: 0px 0px 8px #bfbe5fab;
      }
      100% {
        text-shadow: 0px 0px 2px #bfbe5fab;
      }
    }
    @-webkit-keyframes bouncing {
      0% {
        margin-top: 0px;
        }
      91% {
        margin-top: 0px;
        }
        94% {
          margin-top: -30px;
        }
        95% {
         margin-top: 0px;
        }
        95.25% {
          margin-top: 0px;
        }
        96.5% {
          margin-top: -20px;
        }
        98% {
          margin-top: 0px;
        }
        99% {
          margin-top: -10px;
        }
        100% {
          margin-top: 0px;
        }
      }
      @keyframes bouncing {
        0% {
          margin-top: 0px;
          }
        91% {
          margin-top: 0px;
          }
          94% {
            margin-top: -30px;
          }
          95% {
           margin-top: 0px;
          }
          95.25% {
            margin-top: 0px;
          }
          96.5% {
            margin-top: -20px;
          }
          98% {
            margin-top: 0px;
          }
          99% {
            margin-top: -10px;
          }
          100% {
            margin-top: 0px;
          }
        }

    /* Responsiveness */
  @media screen and (max-width: 1350px) {
  .backgroundBlur {
      width: 950px;
  }
  .welcomeMessage::before{
    width: 921px;
  }
  .welcomeMessage.pos1::before{
    height: 830px;
  }
  .welcomeMessage.pos2::before{
    height: 1010px;
  }
  .welcomeMessage{
      width: 850px;
  }
  .welcomeMessage.pos1{
      height: 800px;
  }
  .welcomeMessage.pos2{
      height: 980px;
  }
  .welcomeMessage::after{
    width: 910px;
  }
  .welcomeMessage.pos1::after{
    height: 820px;
  }
  .welcomeMessage.pos2::after{
    height: 1000px;
  }
  .welcomeImgBG{
      width: 440px;
      height: 680px;
     }
   .welcomeImg{
      width: 400px;
      height: 534px;
  }
  .welcomeRight{
      margin-left: 260px;
  }
  .welcomeRight .JulianBristol {
      margin-top: 50px;
      margin-bottom: 25px;
      margin-left: -150px;
      font-size: 6rem;
  }
  #welcome .paragraphContainer{
    width: 580px;
  }
  #welcome .julian_description{
    width: 1360px;
  }
  #welcome .julian_description.desc1{
    left: -140px;
    height: 260px;
  }
  .welcomeRight p {
      width: 580px;
      font-size: 2rem;
  }
  #welcome .toggleTextBtn.textLeft{
    left: 380px;
  }
  #welcome .btnLinks{
    margin-left: 280px;
  }
}
  
  @media screen and (max-width: 950px) {
    #welcome {
      margin-bottom: 80px;
  }
    .backgroundBlur {
        width: 750px;
    }
    .welcomeMessage::before{
      width: 651px;
    }
    .welcomeMessage.pos1::before{
      height: 980px;
    }
    .welcomeMessage.pos2::before{
      height: 1330px;
    }
    .welcomeMessage{
        width: 580px;
        margin-bottom: -200px;
    }
    .welcomeMessage.pos1{
        height: 950px;
    }
    .welcomeMessage.pos2{
        height: 1300px;
    }
    .welcomeMessage::after{
      width: 640px;
    }
    .welcomeMessage.pos1::after{
      height: 970px;
    }
    .welcomeMessage.pos2::after{
      height: 1320px;
    }
    .welcomeImgBG{
        width: 420px;
        height: 480px;
        top: 30px;
       }
    .welcomeRight h1 {
      font-size: 3.1rem;
      margin-left: -100px;
      margin-top: -20px;
    }
    .welcomeRight .emph1 {
      font-size: 10rem;
      line-height: 5rem;
    }
    .welcomeRight .emph1:first-of-type {
      margin-left: -50px;
    }
    .welcomeRight .JulianBristol {
      width: 530px;
      transition: all 0s ease-in-out !important;
      margin-left: 90px;
      margin-top: 120px;
      margin-bottom: 105px;
    }
    #welcome .paragraphContainer{
      width: 580px;
      margin-left: -260px;
    }
    #welcome .julian_description{
      width: 1360px;
    }
    #welcome .toggleTextBtn.textLeft{
      top: -90px;
      left: 130px;
    }
    #welcome .toggleTextBtn.textRight{
      top: -40px;
    }
    #welcome .btnLinks{
      width: 580px;
      left: 50%;
      margin-left: -290px;
    }
  }

  @media screen and (max-width: 780px) {
    .welcomeRight .JulianBristol {
      transition: all 0.5s ease-in-out !important;
    }
  }
  @media screen and (max-width: 680px) {
    .backgroundBlur {
        width: 520px;
    }
    .welcomeMessage::before{
      width: 431px;
    }
    
    .welcomeMessage.pos1::before{
      height: 1060px;
    }
    .welcomeMessage.pos2::before{
      height: 1540px;
    }
    .welcomeMessage{
        width: 360px;
    }
    .welcomeMessage.pos1{
        height: 1030px;
    }
    .welcomeMessage.pos2{
        height: 1510px;
    }
    .welcomeMessage::after{
      width: 420px;
    }
    .welcomeMessage.pos1::after{
      height: 1050px;
    }
    .welcomeMessage.pos2::after{
      height: 1530px;
    }
    .welcomeImgBG {
      width: 320px;
      height: 380px;
      top: 30px;
    }
    .welcomeImg{
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 0px;
  }
  .welcomeRight h1 {
    font-size: 3.1rem;
    margin-left: -200px;
    margin-top: -20px;
    }
    .welcomeRight .emph1 {
      font-size: 8rem;
      line-height: 5rem;
      margin-left: 10px;
    }
    .welcomeRight .emph1:first-of-type {
      margin-left: -30px;
    }
    .welcomeRight .JulianBristol {
      /* width: 360px; */
      width: 228px;
      font-size: 4rem;
      margin-bottom: 60px;
    }
    #welcome .paragraphContainer{
      width: 350px;
    }
    #welcome .julian_description.desc1{
      height: 370px;
    }
    #welcome .julian_description.desc2{
      height: 860px;
    }
    #welcome .julian_description .primaryDesc{
      width: 350px;
    }
    #welcome .julian_description .secondaryDesc p{
      width: 350px;
    }
    #welcome .toggleTextBtn{
      top: -40px;
    }
    #welcome .toggleTextBtn.textLeft{
      top: -25px;
      left: -90px;
    }
    #welcome .toggleTextBtn.textRight{
      top: -25px;
    }
    #welcome .btnLinks button{
      font-size: 1.3rem;
      transition: all 0.5s ease-in-out;
      width: 110px;
    }
    #welcome .btnLinks{
      width: 360px;
      left: 50%;
      margin-left: -180px;
    }
  }
  @media screen and (max-width: 480px) {
    .welcomeMessage::before{
        width: 321px;
    }
    .welcomeMessage.pos1::before{
        height: 1210px;
    }
    .welcomeMessage.pos2::before{
        height: 1380px;
    }
    .welcomeMessage{
        width: 250px;
        height: 1150px;
    }
    .welcomeMessage.pos1{
        height: 1180px;
    }
    .welcomeMessage.pos2{
        height: 1350px;
    }
    .welcomeMessage::after{
        width: 310px;
    }
    .welcomeMessage.pos1::after{
        height: 1200px;
    }
    .welcomeMessage.pos2::after{
        height: 1370px;
    }
    .welcomeRight {
      margin-left: auto;
      width: 250px;
    }
    .welcomeRight h1 {
      font-size: 2.5rem;
      margin-left: auto;
      margin-top: -20px;
    }
    .welcomeLeft{
      left: -35px;
      top: 20px;
    }
    .welcomeImgBG{
      width: 263px;
      height: 350px;
    }
    .welcomeRight p{
      font-size: 1.5rem;
      margin: 0px auto 35px;
    }
    .welcomeRight .JulianBristol {
        margin-top: 400px;
        margin-bottom: 0px;
        margin-left: auto;
    }

    #welcome .julian_description{
      transition: all 0.5s ease-in-out;
    }
    #welcome .julian_description.desc1{
      width: 480px;
      left: 30px;     
      height: 280px; 
    }
    #welcome .julian_description.desc2{
      width: 1570px;
      height: 450px;
    }


















    
#welcome .paragraphContainer{
  width: 309px;
  margin-left: -29px;
  margin-top: 20px;
}
#welcome .julian_description .primaryDesc{
  width: 260px;
  height: 250px;
}
#welcome .julian_description .secondaryDesc{
  width: 250px;
  height: 400px;
  margin-left: 50px;
  overflow-y: scroll;
  mix-blend-mode: normal;
  background-color: #0e0505;
  border-radius: 10px;
  padding: 15px
}
#welcome .julian_description .secondaryDesc p{
  width: 200px;
  font-size: 1.25rem;
}
#welcome .toggleTextBtn.textLeft {
  top: 0px;
  left: 60px;
}
#welcome .toggleTextBtn.textRight {
  top: 0px;
  left: 0px;
}
#welcome .btnLinks{
  width: 300px;
  left: 50%;
  margin-left: -150px;
}
#welcome .btnLinks button{
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  width: 85px;
  height: 60px;
}
  }